{% extends 'blog/base.html' %}
{% load static %}


{% block content %}
{% if user.is_authenticated %}
<!-- Default context_object_name = 'object' thats why change post to object-->

<article class="media content-section">
  <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ object.author }}</a>
      <!--{{ post.author.first_name }}  to display user name  -->
      <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
    </div>
    <h2 class="article-title">{{ object.title }}</h2>
    <p class="article-content">{{ object.content }}</p>
  </div>
</article>

{% else %}
<h1>JustThoughts</h1>
<img src="{% static 'blog/just_thoughts_logo.png' %}">
<p><h4><a href="{% url 'users_login' %}">Login</a> To View Posts </h4></p>
{% endif %}

{% endblock %}
