{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

<!--settings.py LOGIN_REDIRECT_URL = 'blog-home'-->

{% block content %}
<div class="content-section">
    <form method="post">
        {% csrf_token %}
         <fieldset class="form-group">
            <legend class="boder-bottom mb-4">Login</legend>
            {{ form|crispy }}
         </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Login</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">Need an Account?<a href="{% url 'users_register' %}" class="ml-2">Sign Up Now</a></small>
    </div>

</div>
{% endblock %}